<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ramadan.islami">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:logo="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/ad_id" />

        <meta-data
            android:name="com.onesignal.NotificationServiceExtension"
            android:value="com.ramadan.islami.utils.NotificationReceived" />

        <activity android:name=".ui.activity.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme_NoActionBar" />
        <activity
            android:name=".ui.activity.HadithOfDay"
            android:label="@string/hadithOfDay" />
        <activity
            android:name=".ui.activity.Quote"
            android:label="@string/quotes" />
        <activity
            android:name=".ui.activity.StoryDetails"
            android:label="@string/stories" />
        <activity
            android:name=".ui.activity.DateConversion"
            android:label="@string/dateConversion"
            android:theme="@style/AppTheme_Material" />
        <activity
            android:name=".ui.activity.AllahNames"
            android:label="@string/allahNames" />
        <activity
            android:name=".ui.activity.PrayerTimes"
            android:label="@string/prayerTimes" />
        <activity
            android:name=".ui.activity.Hadiths"
            android:label="@string/hadiths" />
        <activity
            android:name=".ui.activity.Qibla"
            android:label="@string/qibla" />
        <activity
            android:name=".ui.activity.TopicDetails"
            android:theme="@style/AppTheme_NoActionBar" />
        <activity
            android:name=".ui.activity.Video"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
            android:hardwareAccelerated="true" />
        <activity android:name=".ui.activity.VideoList" />
        <activity android:name=".ui.activity.TopicList" />
        <activity android:name=".ui.activity.AyahActivity" />
    </application>

</manifest>