<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ramadan.islami">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:appCategory="social"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/ad_id" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/channel_id" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher_round" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />


        <service
            android:name=".utils.MessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name="com.ramadan.islami.ui.activity.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.ramadan.islami.ui.activity.Dashboard"
            android:hardwareAccelerated="true"
            android:label="@string/app_name" />
        <activity
            android:name="com.ramadan.islami.ui.activity.SendFeedback"
            android:label="@string/send_feedback" />
        <activity
            android:name="com.ramadan.islami.ui.activity.About"
            android:label="@string/about_app" />
        <activity
            android:name="com.ramadan.islami.ui.activity.Quote"
            android:label="@string/quotes" />
        <activity
            android:name="com.ramadan.islami.ui.activity.Story"
            android:label="@string/stories" />
        <activity
            android:name="com.ramadan.islami.ui.activity.MuhammadTree"
            android:label="@string/muhammad_family_tree" />
        <activity
            android:name="com.ramadan.islami.ui.activity.ProphetsTree"
            android:label="@string/prophets_tree" />
        <activity
            android:name="com.ramadan.islami.ui.activity.BigTree"
            android:label="@string/the_big_family_tree" />
        <activity
            android:name="com.ramadan.islami.ui.activity.StoryDashboard"
            android:label="@string/stories" />
        <activity
            android:name="com.ramadan.islami.ui.activity.QuoteDashboard"
            android:label="@string/quotes" />
        <activity
            android:name="com.ramadan.islami.ui.activity.Collection"
            android:label="@string/topics" />
        <activity
            android:name="com.ramadan.islami.ui.activity.FamilyTree"
            android:label="@string/prophets_family_tree" />
        <activity
            android:name=".ui.activity.VideosList"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
            android:hardwareAccelerated="true"
            android:label="@string/videos" />
        <activity
            android:name=".ui.activity.Hadiths"
            android:label="@string/hadiths" />
        <activity android:name=".ui.activity.InformationList" />
        <activity android:name=".ui.activity.Info" />
        <activity android:name=".ui.activity.Video" />
    </application>

</manifest>